
html, body {
    width: 100%;
    margin: 0 auto;
    background-color: #E7EFFF !important;
background-repeat: no-repeat;
    background-attachment: fixed;
}
body{
    font-family: 'Lato', sans-serif !important;
color:black !important;
}
table {
    margin: 0 auto;
}

.margtop{
    margin-top: 7px;
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.img_div.active .inner {
  transform: rotateY(180deg) translateZ(1px);
}


.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front {
position: absolute;
}

.back {
  background-color: #F9F871;
  color: black;
  transform: rotateY(180deg) translateZ(1px);
 border-radius: 6px;
height: 230px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        overflow-wrap: break-word;
    word-wrap: break-word;
    overflow: hidden;
    position: absolute;
}
.back p {
margin: 20px;


}
.dev{
    margin-bottom: 8%;
}
.front {
     height: 230px;
    object-fit: cover;
    max-width: 100%;
}
#imgpre{
height: 230px;
width: 230px;
object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

img{
height: 230px;
width: 230px;
object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.img_div{
margin: 2%;
    text-align: center;
height: 260px;
font-size: 15px;
font-weight: bold;
width: 230px;
display: block;
perspective: 1000px; 
    backface-visibility:hidden;
    padding-bottom: 10%;

}
.navbar{
background-color: #393B45;
border: 0px !important;
}
.navbar-header{
background-color: #393B45;

}
#myNavbar{
background-color: #393B45;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{

}
.navbar-default .navbar-nav>li>a{
    color: white !important;
}

.container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
 margin-left: 0 !important;
margin-right: 0 !important;
}
@media (max-width: 768px) {
     .container-fluid {
         text-align: center;}
        a {
            float: none;
        }
      .navbar-nav
    {
        display: grid !important;
    }
    
    .navbar .navbar-collapse {
        text-align: center;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
}
}
    
}
.navbar-default .navbar-toggle{
    border-color: black !important;
}

.imgwrap{
display: flex;
flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    width: 90%;
    position: relative;
    margin-bottom: 100px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
  justify-content: space-around;
}

.cap{
margin: 1%;
}
textarea{
resize: none}
.button{
background-color: #393B45;
color: white;
border: none;
text-align: center;
font-size: 14px;
}
.form-control{
    margin-left: auto;
    margin-right: auto;
    width: 50% !important;
    color: black !important;
    transition: .5s !important;
}
.form-control:focus{
transition: .5s !important;
width: 60% !important;

}
.formhold{
margin-left: 2%;
margin-right: 2%;
text-align: center;
    border: 2px solid #393B45;
    margin-top: 10px;
  border-radius: 25px;
margin-bottom: 10px;
}
.center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.marg{
margin: 2%;
}
input[type=submit]{
    margin-bottom: 15px;
}
input[type=file]{
    margin-top: 15px;
}
#xmlwrap{
margin-left: auto;
margin-right: auto;
margin-top: 2%;
margin-bottom: 2%;
text-align: center;
width:350px;
background-color: antiquewhite;
border: 4px solid lightgray;
border-radius: 25px;
padding: 10px;
    
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: navy;
}

.success{
    display: none;
}
#submit{
    margin: 10%;
}
#filebutton{
    margin: 10%;
}



.right{
float: right;
}
.posted{
margin: 2%;
}
.abouttext{
text-align: center;
font-weight: bold;
margin-left: 4%;
margin-right: 4%;
}


#vid{

box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}